@import "./colors.scss";

@mixin card-scroller {
  scrollbar-width: thin;
  scrollbar-color: $subtle transparent;

  &::-webkit-scrollbar {
    background: none;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: $subtle;
    border-radius: 16px;
    opacity: 0.2;
    width: 8px;
  }
}

@mixin no-scroller {
  scrollbar-width: none;
  scrollbar-color: transparent;

  &::-webkit-scrollbar {
    background: none;
    width: 0;
  }
}
