.full-size {
  position: relative;
  width: 100%;
  height: 100%;
}

.absolute {
  position: absolute;
  left: 0;
  top: 0;
}

.t-right {
  text-align: right;
}

.t-center {
  text-align: center;
  width: 100%;
}

.grow {
  flex: 1;
}

.c-win {
  color: green;
}

.c-lose {
  color: red;
}
